html, body {
	height: 100%;
}

body {
	color: white;
	background: #101320;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-weight: lighter;
}

h1, h2, h3 {
	margin-bottom: 10px;
}

h1 {
	font-size: 2.3em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.3em;
}

p {
	font-size: 1.3em;
	padding: 10px 0 0 0;
}

input, button {
	background: none;
	color: white;
	padding: 5px;
}

big-box {
	position: relative;
	width: 100%;
}

.responsive-box {
	position: relative;
	height: 100%;
	width: 95%;
	margin-top: 0;
}


.header {
	height: 30px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 15px;
}

.title {
	float: left;
}

.button {
	width: 107px;
	position: relative;
	float: left;
	cursor: pointer;
	padding: 10px 0;
}


.button.through {
	width: 33%;
	text-align: center;
	padding-bottom: 2px;
}

.welcome {
	margin-left: auto;
	margin-right: auto;
}

.welcome.through {
	width: 100%;
}

.hover-dash {
	float: right;
}

.content-div {
	position: absolute;
	top: 100px;
	width: 0;
	background: #101320;
	overflow: hidden;
}

/* Utility classes */

.border {
	border: solid 1px white;
}

.center {
	margin-right: auto;
	margin-left: auto;
}

.pad10 {
	padding: 10px;
}

.invisible {
	display: none;
}

.visible {
	display: auto;
}

/* Media Queries */
/* default is sm */

/* xs */
@media (max-width: 395px) {
	.responsive-box {
		width: 100%;
	}
}

/* sm-md */

@media (min-width: 550px) {
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 2.0;
	}
	h3 {
		font-size: 1.5;
	}
	.responsive-box {
		width: 500px;
		margin-right: auto;
		margin-left: auto;
	}
	.header {
		height: 50px;
	}
	.button {
		float: none;
	}
	.content-div {
		left: 127px;
		bottom: 100px;
	}
}

/* md */
@media (min-width: 800px) {
	.responsive-box {
		width: 750px
	}
}

/* lg */
@media (min-width: 1100px) {
	.responsive-box {
		width: 900px;
	}
}

